---
import Layout from "../layouts/Layout.astro";

const title = "Contact";
const description =
  "Occaecat Lorem minim fugiat adipisicing. Laboris est esse exercitation anim ex pariatur ullamco incididunt. Consectetur adipisicing magna veniam pariatur aliqua in. Consequat nostrud quis aliqua officia fugiat culpa reprehenderit ea.";

interface Props {
  title: string;
  description: string;
  context: "has-heading-1";
}
---

<Layout context="has-heading-1" title={title} description={description}>
  <p>
    Nisi cillum excepteur ipsum commodo est minim ea nulla veniam veniam est
    eiusmod sint irure. Veniam pariatur eu aute aliqua reprehenderit nisi id
    exercitation. Commodo nostrud anim voluptate ex excepteur. Culpa occaecat
    deserunt adipisicing qui. Lorem nostrud enim fugiat labore. Nisi duis ex
    irure nulla elit voluptate. Commodo exercitation dolore reprehenderit
    adipisicing reprehenderit cupidatat sunt incididunt pariatur in.
  </p>

  <p>
    Cillum ullamco fugiat officia culpa est laboris. Elit dolore adipisicing
    nisi sit deserunt ex ad velit. Lorem consectetur enim cupidatat aliqua
    adipisicing dolore amet nulla laboris esse deserunt. Pariatur proident duis
    fugiat laboris nulla commodo est voluptate. Consectetur Lorem ipsum amet
    aute est tempor dolor. Tempor non magna Lorem laborum duis excepteur
    consectetur velit ipsum irure quis. Id nulla reprehenderit anim nisi id aute
    eu cupidatat incididunt in duis.
  </p>

  <p>
    Ullamco pariatur non officia reprehenderit amet aliquip minim amet nisi
    velit ea ea voluptate id. Aliquip cupidatat cupidatat proident exercitation
    nulla proident irure. Proident eiusmod ex excepteur Lorem irure excepteur
    fugiat ad minim minim aute nostrud esse.
  </p>

  <p>
    Anim consectetur labore et excepteur dolor mollit sint. Qui non ipsum
    excepteur veniam laboris nostrud tempor aliqua ex eu. Cupidatat magna aliqua
    et laborum sit consequat non exercitation.
  </p>

  <p>
    Est elit magna non culpa. Mollit eu qui aliqua excepteur ut aliqua et
    deserunt in eu ullamco laborum ullamco enim. Fugiat incididunt esse qui sunt
    aliqua in occaecat laborum.
  </p>
</Layout>
