---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const posts = await getCollection("posts");
---

<Layout>
  <div class="flex flex-col gap-5 md:gap-10">
    {posts.map((post) => <Card post={post} />)}
  </div>
</Layout>
