---
import site from "../data/site.json";

import Container from "./Container.astro";
import MainNavigation from "./MainNavigation.astro";

interface Props {
  context?: "has-heading-1";
  size?: "wide" | "narrow";
}

const { context } = Astro.props;

const TitleTag = context === "has-heading-1" ? "p" : "h1";
---

<header class="border-b border-gray-300 mb-10">
  <div>
    <Container size="wide">
      <div class="flex flex-row gap-2 py-5">
        <div class="flex-1 flex flex-col items-start justify-center">
          <p>V 0.0.1</p>
        </div>
        <div class="flex-1 flex flex-row items-center justify-center">
          <TitleTag class="font-bold uppercase text-xl flex">
            <a href="/">{site.name}</a>
          </TitleTag>
        </div>
        <div class="flex-1 flex flex-row justify-end">
          <a
            class="bg-black text-white px-4 py-1 rounded-full font-bold flex justify-center items-center"
            href="https://github.com/henriquepicanco"
            target="_blank"
            rel="noopener noreferrer">GitHub</a
          >
        </div>
      </div>
    </Container>
  </div>
  <div>
    <Container size="wide">
      <MainNavigation />
    </Container>
  </div>
</header>
