---
import site from "../data/site.json";

import "../styles/global.css";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import Head from "../components/Head.astro";
import Container from "../components/Container.astro";

interface Props {
  title?: string;
  description?: string;
  context?: "has-heading-1";
  size?: "wide" | "narrow";
}

const { title, description, context } = Astro.props;
---

<!doctype html>
<html lang={site.language}>
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <div>
      <SiteHeader context={context} />

      <main>
        <Container>
          <slot />
        </Container>
      </main>

      <SiteFooter />
    </div>
  </body>
</html>
